.App {
  
  text-align: center;
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 3px 4px 4px 3px;
  border-bottom: 6px;
  border-left: 6px;
  border-right: 6px;
  border-top: 6px;
  border-color: rgb(48, 43, 43);
}

img{
  width: 150px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
